<h1>New Song</h1>
<h4>Add a new song for <%= @artist.name %></h4>

<%= form_for([@artist, @song]) do |f|  %>

   <p>
     <%= f.label :title %>
     <%= f.text_field :title %>
   </p>

   <%= f.submit %>

<% end %>
